<!doctype html>
<html lang="en" id="abc">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<base href="/">
	<title>Intelliswift Test</title>

	<!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">

	<!-- JS -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/angular/angular.min.js"></script>
	<script src="libs/angular-route/angular-route.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Angular Scripts -->
	<script src="js/controllers/MainCtrl.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="sampleApp" ng-controller="MainController">
    <div class="page-header text-center">
        <h1>Intelliswift Test<br><small>Performing CRUD operations with localStorage</small></h1>
    </div>
    <div class="container">
        <form novalidate name="inputForm" ng-submit="submitForm(inputForm.$valid)" class="simple-form formContainer center-block">
            <div class="form-group">
                <label>Name</label><input type="text" class="form-control" placeholder="Name" ng-model="person.name" required>
            </div>

            <div class="form-group">
                <label>Email</label><input type="email" class="form-control" placeholder="Email" ng-model="person.email" required>
            </div>

            <div class="form-group">
                <label>Mobile</label><input type="number" class="form-control" placeholder="Mobile" ng-model="person.mobile" required>
            </div>

            <div class="form-group">
                <label>Address</label><input type="textarea" class="form-control" placeholder="Address" ng-model="person.address" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save(person)">Save</button>
        </form>
        <br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <td ><label>Name</label></td>
                    <td><label>Email</label></td>
                    <td><label>Mobile</label></td>
                    <td><label>Address</label></td>
                    <td><label>Edit</label></td>
                    <td><label>Delete</label></td>
                </tr>
                <tr ng-repeat="data in allData | orderBy: 'name'">
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.mobile}}</td>
                    <td>{{data.address}}</td>
                    <td> <button ng-click="edit(data.id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
                    <td> <button ng-click="remove(data.id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                </tr>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modify Data</h4>
                    </div>
                    <div class="modal-body">
                        <form novalidate class="simple-form">
                            <div class="form-group">  
                            <label>Name</label><input type="text" class="form-control" ng-model="getElement.name">
                    </div>
                    <div class="form-group">  
                        <label>Email</label><input type="text"  class="form-control" ng-model="getElement.email">
                    </div>
                    <div class="form-group">  
                        <label>Mobile</label><input type="text" class="form-control" ng-model="getElement.mobile">
                    </div>
                    <div class="form-group">  
                        <label>Address</label><input type="text" class="form-control" ng-model="getElement.address">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="update(getElement)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>
